<div class="container main-container">
    <h3>Interpolation</h3>
    <p class="mb-5">Número de clique é: {{contadorClique}}</p>
    
    <h3>Property Binding</h3>
    <button class="btn btn-info" [disabled]="contadorClique >= 5">Info</button>
    <img [src]="urlImagem" height="50px" alt="50px">

    <h3  class="mt-5">Event binding</h3>
    <button class="btn btn-warning mr-2" (click)='adicionaClique()'>Clique-me</button>

    <button class="btn btn-danger" (click)='zerarContador()' [disabled]='contadorClique < 5'>Zerar Contador</button>

    <h3 class="mt-5">Two-way Binding</h3>

    <!-- EXEMPLO 1 -->
    <!-- <input type="text" (keyup)="handleKeyUp($event)" placeholder="Digite seu nome">
    <label for="">Seu nome é {{ nome }} </label> -->

    <!-- EXEMPLO 2 -->
    <!-- <input type="text" [ngModel]="nome" 
        (ngModelChange)="nome = $event" placeholder="Digite seu nome">
        <label for="">Seu nome é {{ nome }} </label> -->

    <input type="text" [(ngModel)]="nome" placeholder="Digite seu nome">
    <br>
    <label [ngClass]="nome">Seu nome é {{ nome }} </label>
    <br>

    <label class="h2" [ngClass]="{
        'text-secondary' : contadorClique < 3,
        'text-success' : contadorClique >= 3,
        'text-warning' : contadorClique >= 5,
        'text-danger' : contadorClique >= 9
    }">O número de clique é: {{ contadorClique }} </label>
</div>